
/* .box-container{
    padding-bottom: 20 rem;

}

.box{
    width: 25 rem;
    height: 25 rem;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */