@media(max-width:600px){
    .small-only{
        color:red;
    }

}
.large-screens{
    display:none;
}
@media(min-width:600px){
    .large-screens{
        display:block;
    }
    .small-screens{
        display:none;
    }
}
@media(max-width:400px)
{
    .small-only{
        color: blue;
    }
}



.box-container1{
    padding: 30px;

    padding-bottom: 20 rem;
    width: 20rem;
    height: 20rem;
    background-color: rgb(192, 43, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}